/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.md-button {
  line-height: 26px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #373F51;
  padding-left: 10px;
  padding-right: 10px;
}

.md-subheader.md-default-theme.md-primary, .md-subheader.md-primary {
  background-color: #CEE0DC;
}

.application-list {
  background-color: #CEE0DC;
  padding-bottom: 30px;
  padding-top: 30px;
}

.big-icon {
  font-size: 46px;
  padding: 20px;
}

.remove-sign-icon {
  color: #A5243D
}

.ok-sign-icon {
  color: #467657;
}

.question-sign-icon {
  color: #DCC48E;
}

.datetime {
  white-space: nowrap;
}

.commandList {
  padding-right: 10px;
}

md-toolbar.md-default-theme.searchbar, md-toolbar.searchbar {
  background-color: #467657;
  padding-left: 10px;
  padding-right: 10px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) .md-button:not(.md-raised), md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) {
  color: 'black';
}

.md-toolbar-tools {
  margin-top: 30px;
}

#serach-bar md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, #search-bar md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #FFFFFF;
}

#search-bar md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, #search-bar md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #FFFFFF;
}

#search-bar md-input-container.md-default-theme .md-input, #search-bar md-input-container .md-input {
  color: #CEE0DC;
  margin-bottom: -20px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #7A8293;
  color: #FFFFFF;
}

a {
  color: #373F51;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #373F51;
  color: #FFFFFF;
}

.jumbotron, md-content.md-default-theme, md-content {
  background-color: #E1E2E4
}

#search-bar label {
  color: #CEE0DC;
}

#search-bar input {
  font-family: 'Roboto Condensed', sans-serif;
}