<div class="jumbotron" ng-show="sessionData.state == 'setup'">
  <h1>Let's start!</h1>
  <p class="lead">
    <img src="images/netflix.png" alt="Netflix"><br>
  </p>
  <div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
     <p>Setup your eureka dashboard</p>
      <div>
        <form name="eurekaForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Eureka Server URL</label>
              <input required type="url" name="urlinput" ng-model="sessionData.url">
              <div ng-messages="eurekaForm.urlinput.$error" multiple md-auto-hide="false">
                <div ng-message="required" ng-show="eurekaForm.urlinput.$error.required">
                  Please specify which eureka instance you want this dashboard to point to!
                </div>
                <div ng-message="url" ng-show="eurekaForm.urlinput.$error.url">
                  Not a valid url!
                </div>
                <div ng-message="loadfail" ng-show="eurekaForm.urlinput.$error.loadfail">
                  Unable to reach eureka instance!
                </div>
              </div>
            </md-input-container>
          </div>
        </form>
      </div>
      <md-button type="button" class="md-raised md-primary" ng-click="setupEureka($event)">Start <span class="glyphicon glyphicon-ok"></md-button>
    </md-content>
  </div>
</div>

<div class="row marketing" ng-show="sessionData.state == 'loading'">
  <h4>{{sessionData.promptHeader}}</h4>
  <p>
    {{sessionData.prompt}}
  </p>
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div class="row marketing" ng-show="sessionData.state == 'loaded'">
  <md-toolbar ng-show="!showSearch">
    <div class="md-toolbar-tools">
      <h4>
        <span>{{sessionData.applications.length}} applications registered</span>
      </h4>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="List Mode" ng-click="showSearch = !showSearch" ng-disabled="sessionData.searchMode == false">
        <i class="material-icons md-48">search</i>
      </md-button>
      <md-button class="md-icon-button" aria-label="Grid Mode" ng-click="refresh()" ng-disabled="sessionData.refreshing">
        <i class="material-icons md-48">cached</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-toolbar class="searchbar" id="search-bar" ng-show="showSearch">
    <div class="md-toolbar-tools">
      <md-input-container flex>
        <input ng-model="query" placeholder="Filter" class="searchInput">
      </md-input-container>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="List Mode" ng-click="clearSearch()" ng-disabled="sessionData.searchMode == false">
        <i class="material-icons md-48 md-light">clear</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content class="application-list">
    <md-list-item class="md-3-line" ng-repeat="app in sessionData.applications | filter:query">
      <div flex layout layout-align="center center">
        <div flex layout="row">
          <span class="big-icon glyphicon glyphicon-{{app | getStatus}} {{app | getStatus}}-icon"></span>
          <div class="md-list-item-text" layout="column">
            <h3>{{app.name}}</h3>
            <h4>{{app.instance[0].instanceId}}</h4>
            <p class="datetime">Started: {{app.instance[0].lastDirtyTimestamp | date:'medium'}}</p>
          </div>
        </div>
        <span flex></span>
        <div class="commandList">
          <md-button class="md-icon-button" ngclipboard data-clipboard-text="{{app.instance[0].homePageUrl}}" aria-label="Copy URL">
            <md-tooltip md-direction="bottom">
              Copy URL
            </md-tooltip>
            <i class="material-icons md-48">content_paste</i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Stats" ng-click="redirectToPage(app.instance[0].statusPageUrl)">
            <md-tooltip md-direction="bottom">
              Stats
            </md-tooltip>
            <i class="material-icons md-48">show_chart</i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Heartbeat" ng-click="redirectToPage(app.instance[0].healthCheckUrl)">
            <md-tooltip md-direction="bottom">
              Heartbeat
            </md-tooltip>
            <i class="material-icons md-48">favorite</i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Deregister" ng-click="deregister(app)">
            <md-tooltip md-direction="bottom">
              Deregister
            </md-tooltip>
            <i class="material-icons md-48">block</i>
          </md-button>
      </div>
    </md-list-item>
  </md-content>
</div>
